{
  "app": "npx ts-node bin/aws-cdk-test.ts",
  "context": {
    "@aws-cdk/core:enableStackNameDuplicates": "true",
    "aws-cdk:enableDiffNoFail": "true",
    "@aws-cdk/core:stackRelativeExports": "true",
    "prj": "aws-cdk-test",
    "hostzone": "example.com",
    "bastion-keyname": "<bastion key name>",
    "public_hostzone": false,
    "dev": {
      "cibr": "10.3.0.0/16",
      "maxAzs": 1
    },
    "pre": {
      "cibr": "10.2.0.0/16",
      "maxAzs": 1
    },
    "prd": {
      "cibr": "10.1.0.0/16",
      "maxAzs": 1
    }
  }
}
